* {
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #4996bf;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a:hover {
    background-color: #4996bf;
    color: black;
}

.topnav a.active {
    background-color: #C2C2C2;
    color: black;
}

h1 {
    text-align: center;
    font-size: 36px!important;
}

h3 {
    text-align: center;
    font-size: 24px!important;
}