* {
    font-family: 'Helvetica';
    font-size: 20px;
}

body {
    margin: 0 0 0 0;
}

hr.current_line {
    border: 3px solid #4996bf;
    margin-bottom: 5em;
    width: 50%;
}

hr.former_line {
    border: 3px solid black;
    margin-bottom: 5em;
    width: 50%;
}

::selection {
    color: #FFFFFF;
    background-color: #4996bf;
}

::-moz-selection {
    color: #FFFFFF;
    background-color: #4996bf;
}

.topnav {
    background-color: black;
    overflow: hidden;
}

.topnav a {
    color: #C2C2C2;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    vertical-align: middle;
    display: table-cell;
    height: 75px;
}

.topnav a:hover {
    background-color: #4996bf;
    color: black;
}

.topnav a.active {
    background-color: #C2C2C2;
    color: #4996bf;
    font-weight: bolder;
}

.topnav a.my_logo {
    background-color: black;
    color: #C2C2C2;
    padding-right: 30px!important;
    padding-left: 25px!important;
}

h1 {
    text-align: right;
    font-size: 100px!important;
    margin-bottom: 0;
    font-weight: bolder;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
}

h2.current_header {
    text-align: center;
    font-size: 75px!important;
    color: #4996bf;
    font-weight: bolder;
    margin-bottom: 8px;
}

h2.former_header {
    text-align: center;
    font-size: 75px!important;
    color: black;
    font-weight: bolder;
    padding-top: 1em;
    margin-bottom: 8px;
}

h3 {
    text-align: right;
    font-size: 30px!important;
    margin-top: 0;
    color: #4996bf;
    background-color: rgba(0, 0, 0, 0.8);
    font-weight: bolder;
}

.final_note_up {
    text-align: center;
    font-size: 50px!important;
    color: #4996bf;
    font-weight: bolder;
}

.final_note_down {
    text-align: center;
    font-size: 34px!important;
    font-weight: bolder;
}

img.info_logo {
    width: 175px;
}

img.info_photo {
    width: 100%;
    border: 2px solid #000000;
    box-shadow: 1px 1px 1px #000000;
}

img.header {
    width: 100%;
}

video {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    position: relative;
}

.header_text {
    position: absolute;
    width: 100%;
    bottom: -26px;
    right: 0;
}

.ai_note {
    color: #a1a1a1;
    font-size: 15px;
    padding-left: 10px;
    margin-top: 0;
    margin-bottom: 8em;
}

.current_info {
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom: 8em;
}

.former_info {
    background-color: #e8e8e8;
    width: 100%;
    margin-left: 0;
}

.bottom {
    background-color: #FFFFFF;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    align-items: center;
}

.cv {
    text-decoration: none;
}

.cv_download {
    width: 50%;
    border: 2px solid #4996bf;
    border-radius: 20px;
    margin: auto;
    transition: background-color 0.25s;
}

.cv_download:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
    cursor: pointer;
}

.cv_download p {
    font-size: 28px;
    color: #4996bf;
    text-align: center;
    vertical-align: center;
}

.cv_download span {
    font-size: 40px;
}

.go_to_top {
    width: 200px;
    border: 2px solid #4996bf;
    border-radius: 20px;
    margin: auto;
    transition: background-color 0.25s;
}

.go_to_top:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
    cursor: pointer;
}

.go_to_top p {
    color: #4996bf;
    text-align: center;
}

#contact_box {
    border: 3px solid #4996bf;
    margin: auto;
    width: 80%;
    border-radius: 35px;
    background-color: #e8e8e8;
    transition: background-color 0.25s;
}

#contact_box:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
    cursor: pointer;
}

.info_box_blue_more {
    border: 2px solid #4996bf;
    width: 100%;
    border-radius: 0 35px 35px 35px;
    background-color: #e8e8e8;
    transition: background-color 0.25s;
    box-shadow: 1px 1px 1px #4996bf;
}

.info_box_blue_less {
    border: 2px solid #4996bf;
    width: 100%;
    border-radius: 0 35px 35px 35px;
    background-color: #e8e8e8;
    transition: background-color 0.25s;
    box-shadow: 1px 1px 1px #4996bf;
}

.info_box_blue_more:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
    cursor: pointer;
    color: #000000!important;
}

.info_box_blue_less:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
    color: #000000!important;
}

.info_box_black_more {
    border: 2px solid #000000;
    width: 100%;
    border-radius: 0 35px 35px 35px;
    background-color: #FFFFFF;
    transition: background-color 0.25s;
    box-shadow: 1px 1px 1px black;
}

.info_box_black_less {
    border: 2px solid #000000;
    width: 100%;
    border-radius: 0 35px 35px 35px;
    background-color: #FFFFFF;
    transition: background-color 0.25s;
    box-shadow: 1px 1px 1px black;
}

.info_box_black_more:hover {
    background-color: #4996bf;
    cursor: pointer;
    transition: background-color 0.25s;
}

.info_box_black_less:hover {
    background-color: #4996bf;
    transition: background-color 0.25s;
}

.info_title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.info_details {
    font-size: 24px;
    text-align: center;
    margin-top: 0;
}

.info_welcome {
    font-size: 28px;
    text-align: center;
    margin-top: 0;
}

.highlight {
    font-size: 28px;
    white-space: nowrap;
    background-size: 200%;
    background-image: linear-gradient(to right, transparent 50%, #4996bf 50%);
    border-radius: 10px;
    padding: 0 8px 0 8px;
}

table {
    margin: auto;
    width: 100%;
}

.row_space {
    height: 50px;
}

.left_column {
    width: 15%;
    text-align: right;
    vertical-align: top;
}

.mid_column {
    width: 70%;
}

.right_column {
    width: 15%;
}
.first_page {
    width: 50%;
}

ul {
    text-align: left;
    margin-top: 5px;
}
ul li {
    list-style: none;
    padding-bottom: 2px;
    display: flex;
}

ul li:before {
    content: "\25BA";
    margin: 0 1em 0 -1em;
}

.box_content_black {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
}

.box_content_blue {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4996bf;
}

.more {
    transform: rotate(-90deg);
}

.less {
    transform: rotate(90deg);
}

footer {
    background-color: #4996bf;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer a {
    float: left;
    color: #FFFFFF;
    font-weight: lighter;
    position: relative;
    display: inline-block;
}

footer a.divider {
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
    font-weight: lighter;
}

footer a.impressum {
    padding-right: 40px;
    float: right!important;
    text-underline: #FFFFFF;
    text-underline-style: thick;
    font-weight: bolder!important;
}

footer a.github {
    padding-right: 20px;
    float: right;
    text-underline: #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
}

footer a .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #C2C2C2;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    z-index: 1;
    font-weight: lighter;
    opacity: 0;
    transition: opacity 0.5s;
}

footer a .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #C2C2C2 transparent transparent transparent;
}

footer img:hover {
    cursor: pointer;
}

footer a:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes boxes-appear {
    0% {
        transform-origin: top;
        transform: scaleY(0);
    }
    50% {
        transform: scaleY(1);
    }
}

@keyframes dates-appear {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes dates-appear-alt {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes mark-text {
    0%{
        background-position: 0;
    }
    50%{
        color: #000000;
    }
    75%{
        box-shadow: none;
    }
    100%{
        background-position: -100%;
        color: #FFFFFF;
        box-shadow: 1px 2px 1px #000000;
    }
}

@media (prefers-reduced-motion: no-preference){
    .info_box_enter {
        animation: boxes-appear;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .dates_enter {
        animation: dates-appear;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .dates_enter_alt {
        animation: dates-appear-alt;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    .highlight_text {
        animation: mark-text;
        animation-duration: 1.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
    .first {
        animation-delay: 0.5s;
    }
    .second {
        animation-delay: 1.5s;
    }
    .third {
        animation-delay: 2.5s;
    }
}
